@page "/subscribe"
@using Services
@using Models
@using System.Text
@inject IMqttService MqttService
@implements IDisposable

<h1>Subscribe</h1>

<input type="text" placeholder="Topic" @bind="NewTopic" />
<button @onclick="SubscribeNewTopicAsync">Subscribe</button>

<h2>Received messages</h2>

<table class="table table-sm table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Topic</th>
            <th scope="col">Timestamp</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var message in Messages)
        {
            <tr @onclick="@(e => UpdateSelectedMessage(e, message.MessageId))">
                <th scope="row">@(message.MessageId)</th>
                <td>@(message.Message.Topic)</td>
                <td>@(message.Timestamp)</td>
            </tr>
        }
    </tbody>
</table>

<h2>Selected message details</h2>

Content: @(SelectedMessage != null ? Encoding.UTF8.GetString(SelectedMessage.Message.Payload) : "")

@code
{
    public string NewTopic { get; set; }

    public List<ReceivedMessage> Messages { get; private set; } = new List<ReceivedMessage>();

    public ReceivedMessage SelectedMessage = null;

    public async Task SubscribeNewTopicAsync()
    {
        await MqttService.SubscribeAsync(NewTopic);
    }

    protected override void OnInitialized()
    {
        MqttService.MessageReceived += ReloadMessages;
    }

    private async Task ReloadMessages()
    {
        await InvokeAsync(() =>
        {
            Messages = MqttService.ReceivedMessages
                .TakeLast(10)
                .ToList();

            StateHasChanged();

        });
    }

    private void UpdateSelectedMessage(MouseEventArgs e, int messageId)
    {
        SelectedMessage = Messages.Find(m => m.MessageId == messageId);
    }

    public void Dispose()
    {
        MqttService.MessageReceived -= ReloadMessages;
    }
}
